<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css"> 
    <title>Détails Catway <%= catway.catwayNumber %></title>
</head>
<body>
    <div class="card"> <h1>Détails du Catway n° <%= catway.catwayNumber %></h1>
        <hr>
        <p><strong>Type : <%= catway.catwayType %></strong></p>
        
        <form action="/api/catways/<%= catway._id %>?_method=PUT" method="POST" class="form">
            <label for="catwayState">État actuel :</label>
            <input type="text" name="catwayState" value="<%= catway.catwayState %>" required>
            <button type="submit" class="btn-add">Mettre à jour l'état</button>
        </form>

        <hr>

        <h2>Réservation pour ce catway</h2>
        <table>
            <thead>
                <tr>
                    <th>Bateau</th>
                    <th>Clients</th>
                    <th>Du</th>
                    <th>Au</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (reservations && reservations.length > 0) { %>
                    <% reservations.forEach(res => { %>
                        <tr>
                          <form action="/api/catways/<%= catway._id %>/reservations/<%= res._id %>?_method=PUT" method="POST">
                                <td>
                                    <input class="input-table" type="text" name="boatName" value="<%= res.boatName %>" required> 
                                </td>
                                <td>
                                    <input class="input-table" type="text" name="clientName" value="<%= res.clientName %>" required> 
                                </td>
                                <td>
                                    <input class="input-table" type="date" name="startDate" value="<%= new Date(res.startDate).toISOString().split('T')[0] %>" required> 
                                </td>
                                <td>
                                    <input class="input-table" type="date" name="endDate" value="<%= new Date(res.endDate).toISOString().split('T')[0] %>" required>
                                </td>
                                <td class="save">
                                    <button type="submit" class="btn-add">Sauvegarder</button>
                            </form>

                                    <form action="/api/catways/<%= catway._id %>/reservations/<%= res._id %>?_method=DELETE" method="post">
                                        <button type="submit" class="btn-delete-res" onclick="return confirm('Annuler cette réservation ?')">Annuler</button>
                                    </form>
                                </td>
                        </tr>
                        <% }) %>
                        <% } else { %>
                            <tr>
                                <td colspan="5">Aucune réservation en cours.</td>
                            </tr>
                        <% } %>
            </tbody>
        </table>

        <hr>

        <h3>Nouvelle Réservation</h3>
        <form action="/api/catways/<%= catway._id %>/reservations" method="POST" class="form">
            <input type="text" name="clientName" placeholder="Nom du client" required>
            <input type="text" name="boatName" placeholder="Nom du bateau" required>
            <label>Date de début :</label>
            <input type="date" name="startDate" required>
            <label>Date de fin :</label>
            <input type="date" name="endDate" required>
            <button type="submit" class="btn-add">Réserver</button>
        </form>

        <br>
        <a href="/api/catways/dashboard" class="btn-back">Retour au tableau de bord</a>
    </div>
</body>
</html>